#home {
    margin: 0 10% 0 10%;

    .block {
        padding: 2em;
    }

    section {
        margin: 3rem;
    }

    h1, h2, h3 {
        display: inline;
    }

    .size-xl {
        font-size: 3em;
    }

    .size-l {
        font-size: 2em;
    }

    .size-m {
        font-size: 1em;
    }

    .size-s {
        font-size: 0.5em;
    }

    .size-xs {
        font-size: 0.25em;
    }

    .block {
        text-align: left;
    }

    .col-2 {
        display: flex;
        flex-direction: row;
        div, aside {
            width: 50%;
        }
    }

    .col-4 {
        display: flex;
        flex-direction: row;
    }

    form {
        margin: 2em;
        input {
            padding: 0.75em;
        }
        #bd-email {
            border-radius: 0;
            border: 3px solid $light-border-color;
        }
        #subscribe {
            border: 3px solid $yellow;
            color: $black;
            background-color: $yellow;
            cursor: pointer;
        }
    }


    #book-cover {
        margin: auto;
    }

    #benefits {
        div {
            margin: 1rem;
        }
    }

    #about {
        align-items: center;
        > .img {
            direction: rtl;
        }
        .description {
            margin-right: 20%;
        }
    }
}
