{{ define "main" }}
<main aria-role="main" id="home">
    <section>
        {{ if .Site.Params.portrait.path }}
        <img src="{{ .Site.Params.portrait.path }}" class="circle" alt="{{ .Site.Params.portrait.alt }}" />
        {{ end }}

        <h1 id="site-title">{{ .Site.Title | markdownify}}<br /></h1>
        <p>A Book To Build <br />
        Your Own Mouseless Development Environment</p>
    </section>
    <section id="description" class="col-2">
        <div class="block">
            <p>Have you ever wondered what would happened
            if you would use <strong>more your keyboard</strong>,
            and <strong>less your mouse?</strong>  </p>

            <p>I didn't, before <strong>being taught</strong> how to create a
            <strong>personalized and scalable</strong> development environemnt.</p>

            <h3>Now, I could never come back!</h3>

            <p>I was lucky, but not everybody has the chance to be mentored
            how to build your <strong>own little world</strong>.</p>

            <p>That's why I would love to build, with you,
            a <strong>very efficient mouseless development environement</strong>,
            to bring more <strong>fun</strong> and <strong>productivity</strong>
            to your daily work!</p>
        </div>
        <aside>
            <img id="book-cover" src="images/book_cover_mouseless_300.jpg" />
        </aside>
    </section>
    <h2>What Does This Book Will Bring You?</h2>
    <section id="benefits" class="col-4">
        <div>
            <i class="fas fa-keyboard fa-2x"></i>
            <p>A development environment where you'll mainly use your keyboard. It's more fun, and more efficient too!</p>
        </div>
        <div>
            <i class="fas fa-terminal fa-2x"></i>
            <p>A better understaning about Linux, the Linux Shell, the Terminal, and many other customizable and timeless, powerful tools.</p>
        </div>
        <div>
            <i class="fas fa-wrench fa-2x"></i>
            <p>What kind of tools to use for what purpose. You'll be able to compose them for great results, and to configure them for your own needs.</p>
        </div>
        <div>
            <i class="fas fa-download fa-2x"></i>
            <p>A personalized installer, to bring all your tools and their configurations on any computer very easily.</p>
        </div>
    </section>
    <h2>Mouseless Powerful Tools</h2>
    <section id="tools" class="col-2">
        <aside>
            <a href="https://lukaszadam.com/illustrations">Illustrations here</a>
        </aside>
        <div class="block">
            <p>Your Mouseless Development Environment will be made of these tools:</p>
            <ul>
                <li>The Mighty <strong>Arch Linux</strong></li>
                <li>The Powerful <strong>zsh</strong></li>
                <li>The Brave <strong>i3 Windows Manager</strong></li>
                <li>The Skilled <strong>tmux</strong></li>
                <li>The Uncomparable <strong>Vim</strong></li>
            </ul>
            <p>You don't like some of them? No problem! You can replace Vim by your IDE, or Arch Linux by Ubuntu. <strong>I show you the "how", for you to decide of the "what"!</strong></p>
            <p>A mouseless environment is often heavily centered around the Linux Shell. If you are a beginner, no worry! We'll learn as we go.</p>
            <div>
    </section>
    <section class="even" id="video">
        <h2>How Does It Look Like?</h2>
        <p>This is the video!</p>
    </section>
    <section id="tools">
    </section>
    <section class="odd" id="subscription">
        <h2>You Want to Know More?</h2>
        <p>The book is not finished yet, but you can subscribe to follow its advancement.</p>
        <p>If you're still subscribed when it comes out, you'll have a 50% reduction!</p>
    </section>
    <section class="odd" id="subscription">
        <h2>Any Question?</h2>
        <p>I would love to answer every questions you have! You can simply answer the email after subscribing.</p>
    </section>
</main>
{{ end }}
