{{ define "main" }}
<main aria-role="main" id="home">
    <section>
        {{ if .Site.Params.portrait.path }}
        <img src="{{ .Site.Params.portrait.path }}" class="circle" alt="{{ .Site.Params.portrait.alt }}" />
        {{ end }}

        <h1 id="site-title">{{ .Site.Title | markdownify}}<br /></h1>
    </section>

    <section id="description" class="col-2">
        <div class="block">
            <p>
                Have you ever thought increasing your efficiency by using <strong>less your mouse</strong> and <strong>more your keyboard?</strong>
            </p>

            <p>
                I surely didn't!
            </p>

            </p>
                Thankfully, good friends taught me how to create a <strong>personalized</strong>, <strong>scalable</strong>, and <strong>mouseless</strong> development environment.
            </p>

            <p class="size-l opposite">I never looked back.</p>

            <p>
                Not everybody has the chance to be mentored as I was. That's why I'm writing a book for you to build your own Mouseless Development Environment.
            </p>
            <p>
                The goal? <strong>Increasing your productivity</strong>, making your job <strong>more rewarding,</strong> and your coding experience <strong>more fun!</strong>
            </p>
        </div>
        <aside>
            <picture>
                <source srcset="images/book_cover_mouseless_2_300.webp" type="image/webp">
                <img src="images/book_cover_mouseless_2_300.jpg" alt="cover of the book Building Your Mouseless Development Environment">
            </picture>
        </aside>
    </section>

    <blockquote>
        <p>Using only keystrokes for common editing operations is more efficient than mouse or menu-driven commands, because your hands never leave the keyboard.</p>
        <footer>
            <strong>The Pragmatic Programmer</strong>
            <cite></cite>
        </footer>
    </blockquote>

    <h2>What Will This Book Bring You?</h2>
    <section id="benefits" class="col-4">
        <div>
            <i class="fas fa-keyboard fa-2x"></i>
            <p>A scalable development environment where you mainly use your keyboard. It's more fun, and more efficient too.</p>
        </div>
        <div>
            <i class="fas fa-wrench fa-2x"></i>
            <p>Precise explanations how to configure everything, depending on your needs. You'll be in control, <strong>deciding what's more efficient for you</strong>.</p>
        </div>
        <div>
            <i class="fas fa-download fa-2x"></i>
            <p>How to build a personalized installer with bash scripts, to bring all your tools and their configurations easily on any computer.</p>
        </div>
        <div>
            <i class="fas fa-terminal fa-2x"></i>
            <p>A better understanding about Linux and its shell. You'll learn as well to use customizable, timeless, and powerful tools.</p>
        </div>
    </section>

    <h2>Mouseless Powerful Tools</h2>
    <section id="tools" class="col-2">
        <div class="block">
            <picture>
                <source srcset="images/tools_mouseless.webp" type="image/webp">
                <img src="images/tools_mouseless.png" alt="Logo of the tools Arch Linux, Tmux, Vim, and Zsh">
            </picture>
        </div>
        <div class="block">
            <p>Your Mouseless Development Environment will include these tools:</p>
            <ul>
                <li>The Mighty <strong>Arch Linux</strong></li>
                <li>The Powerful <strong>Zsh</strong></li>
                <li>The Brave <strong>i3 Windows Manager</strong></li>
                <li>The Skilled <strong>tmux</strong></li>
                <li>The Uncomparable <strong>Vim</strong></li>
            </ul>
            <p>You don't like some of them? No problem! You can replace Vim by your IDE, or Arch Linux by Ubuntu. <strong>I show you the "how" and you decide the "what"!</strong></p>
            <p>A mouseless environment is often centered around the Linux Shell. If you don't use a terminal often, no worry! You'll learn step by step.</p>
            <div>
    </section>
    <!-- <section class="even" id="video"> -->
    <!--     <h2>How Does It Look Like?</h2> -->
    <!--     <p>This is the video!</p> -->
    <!-- </section> -->
    <section id="tools">
    </section>
    <section id="subscription">
        <h2>You Want to Know More?</h2>
        <p>The book is not finished yet, but you can subscribe to follow its development.</p>
        <!-- <p>If you're still subscribed when it comes out, you'll get a 50% promotion.</p> -->
        <form
            action="https://buttondown.email/api/emails/embed-subscribe/matthieu"
            method="post"
            target="popupwindow"
            onsubmit="window.open('https://buttondown.email/matthieu', 'popupwindow')"
            class="embeddable-buttondown-form">
            <input type="email" name="email" placeholder="your-email@example.com" id="bd-email">
            <input type="hidden" value="1" name="embed"></input>
            <input type="submit" value="Subscribe" id="subscribe"></input>
        </form>
        <p>You'll receive a short email every two weeks, including a useful Unix Shell tip and news about the book.</p>
        <p>You can answer any email to give your opinions, ideas, or to ask questions.</p>
    </section>
    <!-- <section id="subscription"> -->
    <!--     <h2>Any Question?</h2> -->
    <!--     <p> -->
    <!--         I would love to answer any question you have! <br /> You can simply answer the email after subscribing, </br> -->
    <!--        or simply ask me on <a href="https://twitter.com/Cneude_Matthieu">twitter</a>. -->
    <!--     </p> -->
    <!-- </section> -->
    <h2 id="author">About The Author</h2>
    <section class="col-2" id="about">
        <div class="block img">
            <picture>
                <source srcset="images/matthieu.webp" type="image/webp">
                <img src="images/matthieu.jpg" alt="photo of the author of the book Matthieu Cneude">
            </picture>
        </div>
        <div class="block description">
            <p>Hi! I'm Matthieu.</p>
            <p>I've been coding for 20 years and mentoring developers for a couple of years.</p>
            <p>Teaching is very rewarding to me. That's why I love writing for my blog, <a target="_blank" href="https://thevaluable.dev/">The Valuable Dev.</a></p>
            <p><a target="_blank" href="https://thevaluable.dev/page/about/">Here are more information about me.</a></p>
        </div>
    </section>
</main>
{{ end }}
